
.loginBox {
    top: 20vh;
    padding: 45px 25px 5px 25px;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 24px;
}

.loginBox form {
    text-align: left;
}

.loginBox a {
    margin-bottom: 0px;
    color: ghostwhite;
    font-size: 12px;
    text-decoration: none;
}

.loginBox h1 {
    font-family: cursive;
}

.form label,
.form input,
.form button {
    font-weight: lighter;
}