.contenedorPpal {
    padding: 0;
    margin-bottom: 0;
    height: 100vh;
    padding-top: 54px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.sidePanel {
    height: 100%;
    background-color: #1c2b36;
    padding: 10px;
}

.sidePanel .actual {
    opacity: 1;
}

.sidePanel hr {
    margin: 5px -5px;
    border-top-color: gainsboro;
}

.fullHeight {
    height: 100%;
    position: relative;
    margin: 0;
}

.btn-transluscent {
    background-color: transparent;
    color: white;
    text-align: left;
    opacity: 0.8;
    padding-left: 10px;
}

.btn-transluscent:hover,
.btn-transluscent:active,
.btn-transluscent:focus {
    opacity: 1;
}

.btn-transluscent:focus {
    outline: none;
}

.mainContent {
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}

.employeesToday {
    margin: 0;
}

.employeesToday .jumbotron {
    padding: 10px;
}

.counterboxTodayContainer {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.counterboxToday {
    height: 100px;
    background-color: white;
    padding: 20px 5px 10px 5px;
    word-break: keep-all;
}

.counterboxToday h3 {
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .btn-transluscent {
        font-size: 14px;
    }
    .sectionSummaryToday {
        font-size: 12px;
    }
    .sectionSalesReport {
        font-size: 12px;
    }
    .sectionSalesReport .table th,
    .sectionSalesReport .table td {
        padding: 5px;
    }
    .table-responsive {
        margin-bottom: -20px;
    }
    .btn-backDate {
        font-size: 12px;
        width: 20%;
    }
    .pie {
        display: none;
    }
    .mobilecharts {
        display: block;
    }
    .desktopcharts {
        display: none;
    }
    h3 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) {
    .mobilecharts {
        display: none;
    }
}

.table-responsive {}

.sectionSalesReport {
    position: relative;
    height: 100%;
}

.btn-backDate {
    width: 25%;
    margin: 0;
}

.salesTableBtnGroup {
    width: 100%;
}

#doughnut {
    margin-left: auto;
    margin-right: auto;
}

.charts {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}