.employeeBox {
/*    background-color: #e3f2fd;*/
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.employeeBox hr {
    margin: 10px 0;
}

.employeeBox p {
    margin-bottom: 0px;
}

.imgEmployee {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
} 

.tituloEB {
    font-weight: lighter;
    font-size: 30px;
    margin-left: -10px;
    margin-right: -10px;
    height: 90px;
}

@media only screen and (max-width: 768px) {
    
    h2 {
        font-size: 25px;
    }
    
    .tituloEB {
        font-size: 20px;
        height: 30px;
    }
    
    .imgEmployee {
        height: 30vh;
    }
}
