.employeeBox {
/*    background-color: #e3f2fd;*/
    background-color: whitesmoke;
    padding: 25px;
    text-align: center;
    cursor: pointer;
}

.imgEmployee {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: center;
} 

.tituloEB {
    font-weight: lighter;
    font-size: 30px;
    margin-left: -20px;
    margin-right: -20px;
}
