.employeeBox {
    /*    background-color: #e3f2fd;*/
    background-color: whitesmoke;
    padding: 25px;
    height: 100%;
}

.employeeBox h4 {
    font-weight: lighter;
}

.employeeBox p {
    font-weight: lighter;
    margin-bottom: 8px;
}

.imgEmployee {
    object-fit: cover;
    object-position: top;
    height: 230px;
    width: 100%;
}

.imgAddEmployee {
    object-fit: scale-down;
    height: 230px;
    width: 100%;
}

.imageBox {
    padding: 0px 0px 10px 0px;
}

@media only screen and (max-width: 1436px) {
    .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .imageBox {
        padding: 0px 0px 10px 0px;
    }
}
.settingsButtons {
    width: 50%;
}

.inactive {
    opacity: 0.3;
}
