/* app css stylesheet */

html {
    background-color: #FFFFFF;
}

.primaryColor {
    background-color: #0275d8;
}

.disabled {
    display: none;
}

.enabled {
    display: block;
}

.contenedorPpal {
    padding: 10px 2.5vw 10px 2.5vw;
}

.navbar {
    border-radius: 0px !important;
    z-index: 1;
}

.shadowBox {
    border-radius: 0px;
    box-shadow: 0px 5px 5px lightgray;
}

.shadowBoxButton {
    border-radius: 0px;
    box-shadow: 0px 5px 5px lightgray;
    cursor: pointer;
}

.shadowBoxButton:active,
.shadowBoxButton:focus {
    box-shadow: 0px 1px 1px lightgray;
    opacity: 0.9;
}

.btn {
    border-radius: 0;
}

.btn:focus {
    outline: none;
}

.invisibleInDesktop {
    display: none;
}

.myJumbotron {
    padding: 5px;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (max-width: 768px) {
    .invisibleInDesktop {
        display: block;
    }
}

#warning-message {
    display: none;
    text-align: center;
    margin-top: 30vh;
    font-weight: lighter;
    font-size: 35px;
    padding: 20px;
}

.cg-busy-default-sign {
    border-radius: 0 !important;
    border: none !important;
    background-color: whitesmoke !important;
}

@media only screen and (orientation:portrait) {
    #wrapper {
        display: none;
    }
    #warning-message {
        display: block;
    }
}

@media only screen and (orientation:landscape) {
    #warning-message {
        display: none;
    }
}