<div class="row fullheight" cg-busy="{promise:loadBillPromise, message:'Cargando, por favor espere.'}">
    <div class="col-sm-5" style="height: 100%; padding: 10px;">
        <div class="col-xs-12 bill">
            <div class="panelFactura">
                <p class="text-xs-center m-b-0" style="margin-top: 10px;">Be-Youtiful Peluquer&iacute;a</p>
                <p class="text-xs-center m-b-0">Factura no.X del {{todaysDate}}</p>
                <p class="text-xs-center" ng-if="!billTypeMultiple">A cargo de {{currentEmployee.name}}</p>
                <div class="col-xs-12 itemBill" ng-repeat="item in itemsInBill track by $index">
                    <button type="button" class="close service-close" aria-label="Close" style="display: inline;" ng-click="deleteFromBill(item)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>{{item.productName}}<b class="pull-xs-right" style="margin-right: 4px;">{{item.price | currency : $ : 0}}</b></p>
                    <p class="small" ng-if="item.productDiscountPercentage != 0">Descuento del {{item.productDiscountPercentage*100}}%<b class="pull-xs-right" style="margin-left: 2px;">-{{item.price*(item.productDiscountPercentage) | currency : $ : 0}}</b></p>
                    <p class="small" ng-if="billTypeMultiple" style="color: gray;">Servicio prestado por {{item.employee.name}}</p>
                </div>
            </div>
            <div class="col-xs-12 panelTotal">
                <p style="padding-top: 10px;">SubTotal:
                    <normal style="margin-left: 25px;">{{billSubtotal | currency : $ : 0}}</normal>
                </p>
                <p>Descuento:
                    <normal style="margin-left: 25px;">-{{billDiscount | currency : $ : 0}}</normal>
                </p>
                <p><strong>Total: </strong><strong style="margin-left: 25px;">{{billTotal | currency : $ : 0}}</strong></p>
            </div>
        </div>
    </div>
    <div class="col-sm-7 panelBotones">
        <div class="col-xs-12" style="padding: 0;">
            <p>Selecciona una Categor&iacute;a y un producto para registrar</p>
            <hr>
        </div>
        <div class="panelProductos" style="height:100%; padding-bottom: 48px;">
            <div class="panelCategorias col-sm-4">
                <div class="col-xs-12" style="padding:0">
                    <button class="btn btn-block btn-outline-primary btn-category" ng-repeat="category in categories" ng-click="setCategory(category.id)" ng-class="{focus: category.id == selectedCategory}">{{category.name}}</button>
                </div>
            </div>
            <div class="col-sm-8" style="padding-right: 0;">
                <div class="col-xs-12" style="padding:0;">
                    <button class="btn btn-producto btn-secondary" ng-repeat="product in products | filter:{category: selectedCategory}" ng-attr-data-toggle="{{billTypeMultipleOrPriceIsCero(product.price) ? 'modal' : ''}}" data-target="#addModal" ng-click="showAddVals(product)">{{product.name}}</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 panelAcciones btn-group">
            <a href="#!/home" class="btn btn-outline-primary btn-checkout">Cancelar</a>
            <button class="btn btn-outline-primary btn-checkout">Puntos</button>
            <button class="btn btn-outline-primary btn-checkout" data-toggle="modal" data-target="#payModal" ng-click="showPayVals(true)" ng-disabled="billSubtotal<=0">Tarjeta</button>
            <button class="btn btn-outline-success btn-checkout" data-toggle="modal" data-target="#payModal" ng-click="showPayVals(false)" ng-disabled="billSubtotal<=0">Efectivo</button>
        </div>
    </div>
</div>
<!-- Modal ADD -->
<div class="modal fade addModal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addModalLabel">Eliminar</h4>
            </div>
            <div class="modal-body edit-content">
                <form name="addForm" class="form">
                    <div class="form-group" ng-if="billTypeMultiple">
                        <label for="employeeSelect">Empleado que prestó el servicio</label>
                        <select name="employeeSelect" id="employeeSelect" class="form-control" ng-model="newItem.employee" required>
                            <option ng-repeat="employee in employees" value="{{employee.id}}">{{employee.name}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="selectedProduct.price == 0">
                        <label for="price">Precio</label>
                        <input type="number" class="input form-control" name="price" ng-model="newItem.price" min="0" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="addItemToBill()" data-dismiss="modal" ng-disabled="!addForm.$valid">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal ADD -->
<!-- Modal PAY -->
<div class="modal fade payModal" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="payModalLabel">Pagar</h4>
            </div>
            <div class="modal-body edit-content">
                <p class="body-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="pay()" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal PAY -->
<link rel="stylesheet" href="/modules/openbill/openbill.css">