.fullheight {
    height: 100%;
    background-color: whitesmoke;
    position: relative;
}

.panelFactura {
    margin-bottom: 0;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 112px;
}

.bill p {
    font-weight: lighter;
}

.panelTotal {
    background-color: white;
    border-top: 1px solid black;
    margin-top: 0;
    text-align: right;
    height: 112px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 25px;
    padding-left: 25px;
}

.panelTotal p {
    margin-bottom: 10px;
}

.bill {
    background-color: white;
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
}

.panelCategorias {
    padding: 0;
}

.btn-producto {
    width: 33.33%;
    height: 80px;
    word-break: normal;
    white-space: normal;
    padding: 4px;
    margin-bottom: 8px;
}

.btn-category {
    outline: none !important;
    height: 80px;
}

.itemBill {
    border-bottom: 1px dotted grey;
    margin-top: 10px;
}

.itemBill p {
    margin-bottom: 4px;
}

.panelAcciones {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.panelAcciones .btn {
    width: 49%;
}

.panelBotones {
    height: 100%
}

.contenedorPpal {
    padding: 10px 15px 0px 15px;
    margin-bottom: 0;
    height: 100vh;
    padding-top: 54px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -99;
}

@media only screen and (max-width: 768px) {
    .fullheight {
        font-size: 12px;
    }
    .panelTotal {
        background-color: white;
        border-top: 1px solid black;
        margin-top: 0;
        text-align: right;
        height: 82px;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 25px;
        padding-left: 25px;
    }
    .panelTotal p {
        margin-bottom: 3px;
    }
    .panelFactura {
        margin-bottom: 0;
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 82px;
    }
    .panelAcciones .btn {
        font-size: 12px;
    }
    .panelBotones p {
        font-size: 14px;
    }
    .btn-producto {
        width: 33.33%;
        height: 40px;
        word-break: normal;
        white-space: normal;
        padding: 4px;
        margin-bottom: 2px;
        font-size: 12px;
    }
    .btn-category {
        outline: none !important;
        height: 40px;
        font-size: 12px;
    }
}